@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Task List</h1>
    <p>This page will display a list view of the current tasks in the database.
    Parents will be able to access the Add/ Delete/ Modify functionality for tasks through this screen</p>
}
