@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Edit Assignment</h1>
    <p>This view will be used to edit a current task assignment.</p>
}
